/* sintaxis de variables
    empezar siempre con el signo $
    nombre  +  valor
  $miVariable: orange;
 */
@font-face {
  font-family: Mystery Quest;
  src: url(.././css/Generica.otf);
}

@font-face {
  font-family: Austein;
  src: url(.././css/Austein.otf);
}

@font-face {
  font-family: Buttershine;
  src: url(.././css/BUTTERSHINE-SCRIPT.ttf);
}

@font-face {
  font-family: Caviar;
  src: url(.././css/CaviarDreams.ttf);
}

header {
  background-color: #0f161b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.container-fluid {
  font-weight: bolder;
}

.navbar-brand {
  background-color: #d29d61;
  border: 5px solid #7a6a53;
  border-radius: 10px;
  height: 70px;
}

.navbar-toggler {
  filter: invert(1);
}

.paginas {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  list-style-type: none;
  gap: 8px;
  margin-bottom: 0%;
}

.nav-item {
  background-color: #d29d61;
  margin: 2px;
  margin-right: 0.5rem;
  border: 3px solid #7a6a53;
  padding: 3px;
  transition: transform 1.2s;
}

.nav-item:hover {
  transform: scale(1.1);
}

.header__open {
  color: white;
  text-decoration: none;
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mystery Quest", cursive;
  background-color: #081319d5;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.video {
  margin-top: 10%;
  width: 100%;
  position: absolute;
  top: 600%;
}

.presentacion {
  background-color: rgba(35, 38, 41, 0.7);
  text-align: center;
  color: rgba(255, 255, 255, 0.808);
  position: relative;
  bottom: 500px;
}

.presentacion__titulo {
  font-size: 100px;
  font-style: italic;
}

.presentacion__subtitulo {
  font-size: 30px;
}

.presentacion__parrafo {
  font-size: 15px;
}

.collapse {
  justify-content: flex-end;
}

.header__open {
  color: white;
  text-decoration: none;
  display: none;
}

.informacion {
  font-size: 200px;
  text-shadow: 10px 10px 1px rgba(0, 0, 0, 0.349);
  font-family: Austein;
  color: #D29D61;
  text-align: center;
  text-decoration: underline;
}

.cursos {
  margin: 50px;
  padding-left: 60px;
  padding-right: 60px;
  background-image: url(../Imagenes/logomafia.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.cursos__titulo {
  font-size: 150px;
  text-align: center;
  background-color: rgba(48, 57, 62, 0.911);
  margin-bottom: 0;
}

.cursos__div {
  background-color: rgba(48, 57, 62, 0.911);
  display: flex;
}

.cursos__div h3 {
  font-size: 60px;
  font-style: italic;
}

.cursos__div p {
  font-size: 20px;
}

.cursos__div img {
  margin: 20px;
  box-shadow: 7px 13px 37px #000;
}

.titulo__experiencia {
  font-size: 120px;
  text-shadow: 10px 10px 1px rgba(0, 0, 0, 0.349);
  font-family: Austein;
  color: #D29D61;
  text-align: center;
  text-decoration: underline;
  margin: 2rem;
}

.experiencia {
  display: flex;
}

.experiencia__hb {
  position: relative;
  margin: 2rem;
  height: 500px;
  box-shadow: 7px 13px 37px #000;
}

.experiencia h4 {
  font-size: 130px;
  font-style: italic;
}

.experiencia p {
  font-size: 20px;
}

.tbj {
  width: 100%;
}

.tbj__div {
  display: flex;
  padding: 4rem;
}

.tbj__contenedor {
  margin-right: 2rem;
}

.tbj__contenedor h3 {
  font-size: 80px;
}

.tbj__contenedor p {
  font-size: 20px;
}

.tbj__div img {
  box-shadow: 7px 13px 37px #000;
}

.whatsapp1 {
  display: inline-block;
  position: fixed;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  bottom: 4rem;
  right: 2rem;
  z-index: 10;
}

.section__servicios {
  color: white;
  background-color: rgba(35, 38, 41, 0.7);
  text-align: center;
  position: relative;
  margin-top: 7rem;
}

.section__servicios--titulo {
  font-size: 100px;
  font-style: italic;
  text-decoration: underline;
}

.servicios {
  margin-top: 9rem;
}

.service .content {
  padding: 32px;
}

.service p {
  margin-top: 18px;
  margin-bottom: 18px;
}

.service img {
  box-shadow: 7px 13px 37px #000;
  transition: transform 1.1s;
}

.service img:hover {
  transform: scale(1.03);
}

.intro {
  margin-bottom: 60px;
}

.intro h2 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 80px;
  text-shadow: 8px 5px 1px rgba(0, 0, 0, 0.349);
}

.intro h6 {
  font-size: 25px;
  color: #d29d61;
}

.intro p {
  max-width: 500px;
  margin: auto;
}

/* ---------------NUEVAS CLASES-------------------------------------*/
.productos {
  margin-top: 9rem;
}

.card {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 20px;
  transition: transform .3s;
}

.card:hover {
  transform: translateY(-15px);
  transition: transform .3s;
}

.text1 {
  font-size: 20px;
  color: #cbcbcb;
}

.info {
  line-height: 17px;
  font-weight: 500;
}

.jam-star-f {
  color: #fbc02d;
}

.precio {
  font-weight: bold;
  font-size: 20px;
}

.claymore {
  background: #d29d61;
  cursor: pointer;
}

.pomade {
  background: #d29d61;
  cursor: pointer;
}

.superdry {
  background: #d29d61;
  cursor: pointer;
}

.combo {
  background: #d29d61;
  cursor: pointer;
}

.beard-oil {
  background: #d29d61;
  cursor: pointer;
}

.texas-beard {
  background: #d29d61;
  cursor: pointer;
}

.shampoo {
  background: #d29d61;
  cursor: pointer;
}

.cream {
  background: #d29d61;
  cursor: pointer;
}

.brush {
  background: #d29d61;
  cursor: pointer;
}

.botones {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.botones__1 {
  background-color: #d29d61;
  border: 3px solid #7a6a53;
  font-size: 20px;
  padding: 2rem;
  border-radius: 10px;
  width: 15rem;
  text-align: center;
  box-shadow: 7px 13px 37px #000;
}

.botones__2 {
  background-color: #d29d61;
  border: 3px solid #7a6a53;
  font-size: 20px;
  padding: 2rem;
  border-radius: 10px;
  width: 15rem;
  text-align: center;
  box-shadow: 7px 13px 37px #000;
}

.botones__3 {
  background-color: #d29d61;
  border: 3px solid #7a6a53;
  font-size: 20px;
  padding: 2rem;
  border-radius: 10px;
  width: 15rem;
  text-align: center;
  box-shadow: 7px 13px 37px #000;
}

.btn {
  position: relative;
  right: 0;
  bottom: 0;
}

.jam-write {
  font-size: 40px;
}

.jam-calendar {
  font-size: 40px;
}

.jam-check {
  font-size: 40px;
}

/* ----------------- NUEVAS CLASES ------------------------ */
body {
  padding: 0px;
  margin: 0px;
}

.containerform {
  width: 60%;
  margin: auto;
  overflow: hidden;
  background-color: #0f161b;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-radius: 10px;
  box-shadow: 7px 13px 37px #000;
}

#contact-section {
  height: 100%;
  width: 100%;
  padding-bottom: 2%;
  margin-bottom: 2rem;
}

#contact-section .container h2 {
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  color: #eeebeb;
}

#contact-section .container p {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
  color: #fff;
  letter-spacing: 3px;
}

.contact-form i {
  font-size: 22px;
  padding: 3%;
  background-color: none;
  margin: 2%;
  border-radius: 80%;
  cursor: pointer;
  border: 2px solid #bebebe;
  color: #bebebe;
}

.contact-form i:hover {
  cursor: pointer;
  border: 2px solid #fff;
  color: #fff;
}

.contact-form {
  display: grid;
  grid-template-columns: auto auto;
}

.form-info {
  font-size: 16px;
  font-style: italic;
  color: #fff;
  letter-spacing: 2px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 70%;
  background-color: rgba(136, 133, 133, 0.5);
  color: #fff;
  border: none;
  outline: none;
}

input::placeholder {
  color: #fff;
}

textarea {
  padding: 10px;
  margin: 10px;
  width: 70%;
  background-color: rgba(136, 133, 133, 0.5);
  color: #fff;
  border: none;
  outline: none;
}

textarea::placeholder {
  color: #fff;
}

.submit {
  width: 40%;
  background: none;
  padding: 4px;
  outline: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 33px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  margin-left: 3%;
  border: 2px solid #bebebe;
  color: #bebebe;
}

.submit:hover {
  border: 1px sold #fff;
  color: #fff;
  cursor: pointer;
}

.final {
  background-color: #0f161b;
  padding: 1rem;
  margin-top: auto;
}

.social {
  text-align: center;
  padding-bottom: 25px;
}

.social a {
  font-size: 25px;
  color: grey;
  border: 1px solid grey;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
  text-decoration: none;
}

.social a:hover {
  opacity: 0.9;
}

.lista {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.final ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.5;
}

.final ul li {
  display: inline-block;
  padding: 0 15px;
}

.final ul li a:hover {
  opacity: 1;
}

.final .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}

@media screen and (max-width: 1023px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .logo {
    margin-left: 18rem;
  }
  .paginas {
    display: flex;
    justify-content: space-around;
  }
  .final__div {
    display: flex;
    justify-content: center;
    margin-left: 0rem;
  }
  /* ------------------------------------------- INDEX ---------------------------------------------- */
  .presentacion {
    position: relative;
    bottom: 15rem;
  }
  .presentacion__titulo {
    font-size: 50px;
  }
  .presentacion__subtitulo {
    font-size: 30px;
  }
  .presentacion__parrafo {
    font-size: 20px;
  }
  .informacion {
    font-size: 150px;
  }
  .cursos__titulo {
    font-size: 100px;
  }
  .cursos__div {
    flex-direction: column;
    text-align: center;
  }
  .cursos {
    background-image: none;
  }
  .titulo__experiencia {
    font-size: 100px;
  }
  .experiencia {
    flex-direction: column;
  }
  .experiencia div {
    text-align: center;
  }
  .experiencia h4 {
    font-size: 100px;
  }
  .experiencia p {
    padding: 2rem;
  }
  .tbj__div {
    flex-direction: column;
  }
  .tbj__contenedor {
    text-align: center;
  }
  /* ------------------------------------------- INDEX ---------------------------------------------- */
  /* ------------------------------------------- SERVICIOS ---------------------------------------------- */
  .section__servicios {
    top: 8rem;
  }
  .section__servicios--titulo {
    font-size: 50px;
  }
  /* ------------------------------------------- SERVICIOS ---------------------------------------------- */
  /* ------------------------------------------- PRODUCTOS ---------------------------------------------- */
  .section__productos {
    top: 8rem;
  }
  .section__productos--titulo {
    font-size: 60px;
  }
  .section__productos p {
    font-size: 15px;
  }
  .victory {
    margin-top: 8rem;
  }
  .cabello {
    bottom: 3rem;
    right: 32rem;
    font-size: 150px;
  }
  .producto__titulo {
    font-size: 80px;
    padding-top: 4rem;
    margin-bottom: 1rem;
  }
  .producto__parrafo {
    font-size: 15px;
  }
  .producto__titulo--2 {
    font-size: 80px;
    margin-bottom: 1rem;
  }
  .producto__parrafo--2 {
    font-size: 15px;
  }
  .ofertas {
    left: 6rem;
    font-size: 120px;
  }
  .producto__oferta2 {
    bottom: 33rem;
    left: 2rem;
  }
  .producto__oferta3 {
    bottom: 37.5rem;
    left: 25rem;
  }
  .producto__oferta {
    bottom: 2rem;
    left: 13rem;
  }
  .producto__div {
    width: 140px;
    left: 33rem;
    bottom: 35rem;
  }
  .producto__div p {
    font-size: 15px;
  }
  .texas {
    right: 2rem;
    bottom: 15rem;
    height: 10%;
  }
  .producto__div--2 {
    width: 140px;
    bottom: 28rem;
    left: 5rem;
  }
  .producto__div--2 p {
    font-size: 15px;
  }
  .whatsapp2 {
    right: 25rem;
    bottom: 1.55rem;
  }
  /* ------------------------------------------- PRODUCTOS ---------------------------------------------- */
  /* ------------------------------------------- UBICACION ---------------------------------------------- */
  .section__ubicacion {
    top: 8rem;
  }
  .section__ubicacion--titulo {
    font-size: 50px;
  }
  /* ------------------------------------------- UBICACION ---------------------------------------------- */
  /* ------------------------------------------- RESERVA ---------------------------------------------- */
  .section__reserva {
    top: 8rem;
  }
  .section__reserva--titulo {
    font-size: 40px;
  }
  /* ------------------------------------------- RESERVA ---------------------------------------------- */
}

@media screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .informacion {
    font-size: 80px;
    margin-top: 4rem;
  }
  .cursos__titulo {
    font-size: 60px;
    text-align: center;
  }
  .cursos__div {
    align-items: center;
  }
  .cursos__div img {
    width: 300px;
    height: 280px;
  }
  .cursos__div p {
    font-size: 15px;
  }
  .tbj__contenedor h3 {
    font-size: 30px;
  }
  .titulo__experiencia {
    font-size: 50px;
  }
  .experiencia__hb {
    height: 300px;
  }
  .img-fluid {
    width: 250px;
  }
  .experiencia h4 {
    font-size: 50px;
  }
  .experiencia p {
    font-size: 15px;
  }
  .tbj__div {
    padding-top: 0;
    padding-bottom: 0%;
  }
  .tbj__contenedor h3 {
    padding-bottom: 1rem;
    font-size: 30px;
  }
  .tbj__contenedor p {
    font-size: 14px;
  }
  header .logo {
    position: relative;
    right: 14rem;
  }
  .paginas__index {
    display: none;
  }
  .paginas__servicios {
    width: 60px;
    height: 40px;
    font-size: 10px;
  }
  .paginas__productos {
    width: 60px;
    height: 40px;
    font-size: 10px;
  }
  .paginas__ubicacion {
    width: 60px;
    height: 40px;
    font-size: 10px;
  }
  .paginas__reserva {
    width: 100px;
    height: 50px;
    font-size: 10px;
  }
  video {
    position: relative;
    top: 13rem;
  }
  .presentacion {
    position: relative;
    bottom: 1rem;
    background-color: rgba(35, 38, 41, 0.7);
    margin-top: 0.5rem;
  }
  .presentacion__titulo {
    font-size: 30px;
  }
  .presentacion__subtitulo {
    font-size: 15px;
    padding-bottom: 1rem;
  }
  .presentacion__parrafo {
    font-size: 15px;
  }
  .final {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .final__index {
    position: relative;
    right: 1rem;
  }
  .final__div {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    margin-left: 0;
  }
  .final__derechos {
    text-align: end;
  }
  .ofertas {
    font-size: 65px;
    left: 0rem;
    top: 10rem;
  }
  .cabello {
    top: 0.5rem;
    right: 10.5rem;
    font-size: 80px;
  }
  .section__productos--titulo {
    font-size: 50px;
  }
  section p {
    font-size: 15px;
  }
  .producto__titulo {
    font-size: 50px;
  }
  .producto__parrafo {
    font-size: 13px;
  }
  .producto__titulo--2 {
    font-size: 50px;
  }
  .producto__parrafo--2 {
    font-size: 15px;
  }
  .producto__div--2 {
    font-size: 20px;
  }
  .producto__oferta2 {
    font-size: 30px;
    left: 0;
    bottom: 23rem;
  }
  .producto__oferta3 {
    font-size: 30px;
    left: 8rem;
    bottom: 25rem;
  }
  .producto__oferta {
    font-size: 30px;
    left: 3.5rem;
    bottom: 6rem;
  }
  .producto__div {
    width: 200px;
    height: 100px;
    left: 0.5rem;
    bottom: 9rem;
  }
  .producto__div p {
    font-size: 13px;
  }
  .producto__div--2 {
    width: 200px;
    height: 100px;
    left: 3.5rem;
    bottom: 12rem;
  }
  .producto__div--2 p {
    font-size: 13px;
  }
  /* .whatsapp2 {
        padding: 0;
        position: relative;
        top: 150.5rem;
        left: 0rem;
    } */
  .texas {
    right: 1rem;
    bottom: 15rem;
    height: 5%;
  }
  .whatsapp1 {
    padding: 0;
    position: fixed;
  }
  .section__servicios {
    top: 8rem;
  }
  .section__servicios p {
    font-size: 15px;
  }
  .section__servicios--titulo {
    font-size: 50px;
  }
  .section__ubicacion {
    top: 8rem;
  }
  .section__ubicacion--titulo {
    font-size: 50px;
  }
  .whatsapp3 {
    padding: 0;
    position: relative;
    left: 0;
    top: 50rem;
  }
  .section__reserva {
    top: 8rem;
  }
  .section__reserva--titulo {
    font-size: 25px;
  }
  .whatsapp4 {
    padding: 0;
    position: relative;
    left: 0;
    top: 99rem;
  }
  .botones {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
  }
  .botones__3 {
    width: 15rem;
  }
  .formulario {
    margin: auto;
    width: 16rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-group {
    flex-direction: column;
  }
  .form-control {
    width: auto !important;
  }
}

.tbj__div {
  margin-bottom: 5rem;
}

/* ------------ mediaquery formulario--------------*/
@media (max-width: 768px) {
  #contact-section .contact-form {
    display: block;
    width: 100%;
    text-align: center;
  }
  #contact-section .submit {
    width: 60%;
  }
}
/*# sourceMappingURL=estilos.css.map */