*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Mystery Quest;
    src: url(/css/Generica.otf);
}
@font-face {
    font-family: Austein;
    src: url(/css/Austein.otf);
}
@font-face {
    font-family: Buttershine;
    src: url(/css/BUTTERSHINE\ SCRIPT.ttf);
}
@font-face {
    font-family: Caviar;
    src: url(./css/CaviarDreams.ttf);
}
body {
    font-family: "Mystery Quest", cursive;
    background-color: #081319d5;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #0f161b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
    .final__div{
    display: flex;
    justify-content: flex-start;
    margin-left: 4rem;
    }

    .logo {
    background-color: #d29d61;
    border: 5px solid rgb(122, 106, 83);
    border-radius: 10px;
    height: 50px;
    margin-left: 80px;
}

.paginas {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    list-style-type: none;
    gap: 8px;
}

.paginas__index {
    background-color: #d29d61 ;
    margin: 2px;
    border: 3px solid rgb(122, 106, 83) ;
    padding: 10px;
    transition: transform 1.2s;
}
.paginas__index:hover {
    transform: scale(1.1);
}

.paginas__servicios {
    background-color: #d29d61 ;
    margin: 2px;
    border: 3px solid rgb(122, 106, 83) ;
    padding: 10px;
    transition: transform 1.2s;
}
.paginas__servicios:hover {
    transform: scale(1.1); 
}
.paginas__productos {
    background-color: #d29d61 ;
    margin: 2px;
    border: 3px solid rgb(122, 106, 83) ;
    padding: 10px;
    transition: transform 1.2s;
}
.paginas__productos:hover {
    transform: scale(1.1); 
}
.paginas__ubicacion {
    background-color: #d29d61 ;
    margin: 2px;
    border: 3px solid rgb(122, 106, 83) ;
    padding: 10px;
    transition: transform 1.2s;
}
.paginas__ubicacion:hover {
    transform: scale(1.1);
}
.paginas__reserva {
    background-color: #d29d61 ;
    margin: 2px;
    margin-right: 10px;
    border: 3px solid rgb(122, 106, 83) ;
    padding: 10px;
    transition: transform 1.2s;
}
.paginas__reserva:hover {
    transform: scale(1.1);  
}
.paginas__enlaces {
    color: black;
    text-decoration: none;
}

.video {
    margin-top: 10%;
    width: 100%;
    position: absolute;
    top: 600%;
}

.presentacion {
    background-color: rgba(35, 38, 41, 0.7);
    text-align: center;
    color: rgba(255, 255, 255, 0.808);
    position: relative;
    bottom: 500px;
}
.presentacion__titulo { 
    font-size: 100px;
    font-style: italic;
}
.presentacion__subtitulo {
    font-size: 30px;

}
.presentacion__parrafo {
    font-size: 15px;

}
.header__open {
    color: white;
    text-decoration: none;
    display: none;
}

.whatsapp {
    display: inline-block;
    position: fixed;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
}
.whatsapp1{
    display: inline-block;
    position: fixed;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
}
.whatsapp2 {
    display: inline-block;
    position: fixed;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
}
.whatsapp3 {
    display: inline-block;
    position: fixed;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
}
.whatsapp4 {
    display: inline-block;
    position: fixed;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
}

.final {
    background-color: #0f161b;
    padding: 1rem;
    margin-top: auto;
}
.final__logo {
    background-color: #d29d61;
    border: 5px solid rgb(122, 106, 83);
    border-radius: 10px;
    height: 50px;
    margin-left: 80px;
    align-items: center;
}

.final__derechos {
    color: white;
    text-align: end;
}

.victory {
    height: 8rem;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}

.section__productos {
    color: white;
    background-color: rgba(35, 38, 41, 0.7);
    text-align: center;
    position: relative;
    bottom: 0px;
    top: 50px;
    padding: 50px;
}
.section__productos--titulo {
    font-size: 100px;
    font-style: italic;
    text-decoration: underline;
}
.section__servicios {
    color: white;
    background-color: rgba(35, 38, 41, 0.7);
    text-align: center;
    position: relative;
    bottom: 0px;
    top: 50px;
    padding: 50px;
}
.section__servicios--titulo {
    font-size: 100px;
    font-style: italic;
    text-decoration: underline;
}
.section__ubicacion {
    color: white;
    background-color: rgba(35, 38, 41, 0.7);
    text-align: center;
    position: relative;
    bottom: 0px;
    top: 50px;
    padding: 50px;
}
.section__ubicacion--titulo {
    font-size: 100px;
    font-style: italic;
    text-decoration: underline;
}
.section__reserva {
    color: white;
    background-color: rgba(35, 38, 41, 0.7);
    text-align: center;
    position: relative;
    bottom: 0px;
    top: 50px;
    padding: 50px;
}
.section__reserva--titulo {
    font-size: 100px;
    font-style: italic;
    text-decoration: underline;
}

.grid {
    position: relative;
    border: 2px solid #555;
    margin: 2rem;
    padding: 1rem;
    min-height: 500px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px;
    grid-template-areas: 
        "ele1 ele2 .   "
        "ele1 ele2 ele3"
        "ele1 ele4 ele3"
        ".    ele4 ele3"
        "ele5 ele5 ele5"
        "ele5 ele5 ele5"
        "ele6 ele6 ele6"
        "ele6 ele6 ele6"
    ;
}
.cabello {
    font-size: 200px;
    position: relative;
    right: 67rem;
    bottom: 150px;
    text-shadow: 10px 10px 1px rgba(0, 0, 0, 0.349);
    font-family: Austein;
    color: #D29D61;
}
.producto__titulo {
    font-family: Buttershine;
    font-size: 100px;
    text-shadow: 10px 10px 1px rgba(0, 0, 0, 0.349);
    color: #D29D61;
    font-size: 100px;
    margin-top: 100px;
}
.producto__titulo--2 {
    font-family: Buttershine;
    font-size: 100px;
    text-shadow: 10px 10px 1px rgba(0, 0, 0, 0.349);
    color: #D29D61;
    font-size: 100px; 
    text-align: end;
}
.producto__parrafo {
    font-family: Caviar;
    font-size: 25px;
}
.producto__parrafo--2 {
    font-family: Caviar;
    font-size: 25px;
    text-align: right;
}

.grid__hijo1 {
    grid-area: ele1;
}
.grid__hijo1 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.grid__hijo2 {
    grid-area: ele2;
}
.grid__hijo3 {
    grid-area: ele3;
}
.grid__hijo3 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.grid__hijo4 {
    grid-area: ele4;
}
.grid__hijo5 {
    grid-area: ele5;
}
.ofertas {
    font-size: 150px;
    text-shadow: 10px 10px 1px rgba(0, 0, 0, 0.349);
    font-family: Austein;
    color: #D29D61; 
    position: relative;
    left: 450px;
}
.producto__oferta {
    font-family: Buttershine;
    font-size: 70px;
    text-shadow: 10px 10px 1px rgba(0, 0, 0, 0.349);
    color: #D29D61;
    position: relative; 
    bottom: 50px;
    left: 38rem; 
}
.producto__oferta2 {
    font-family: Buttershine;
    font-size: 70px;
    text-shadow: 10px 10px 1px rgba(0, 0, 0, 0.349);
    color: #D29D61;
    position: relative;
    bottom: 500px; 
    left: 26rem;   
}
.producto__oferta3 {
    font-family: Buttershine;
    font-size: 70px;
    text-shadow: 10px 10px 1px rgba(0, 0, 0, 0.349);
    color: #D29D61;
    position: relative; 
    bottom: 580px;
    left: 50rem;    
}
.producto__div {
    display: inline-block;
    position: relative;
    bottom: 30rem;
    left: 60rem;
    background-color: #d29d61 ;
    margin: 2px;
    border: 3px solid rgb(122, 106, 83) ;
    padding: 10px;
    width: 20%;
}
.producto__div p {
    font-family: Caviar;
    text-align: center;
    font-size: 20px;
}
.producto__div--2 {
    display: inline-block;
    position: relative;
    bottom: 25rem;
    left: 15rem;
    background-color: #d29d61 ;
    margin: 2px;
    border: 3px solid rgb(122, 106, 83) ;
    padding: 10px;
    width: 15%;
}
.producto__div--2 p {
    font-family: Caviar;
    text-align: center;
    font-size: 20px;
}
.texas {
    position: absolute;
    bottom: 250px;
    right: 350px;
    height: 13%;
    transform: rotate(20deg);
}

.grid__hijo5 img {
    height: 100%;
    width: 100%;
    object-fit: contain;   
}
.grid__hijo6 {
    grid-area: ele6;
}
.grid__hijo6 img {
    height: 100%;
    width: 100%;
    object-fit: contain;  
}
.encabezado {
    display: flex;
    justify-content: space-around;
    font-size: 60px;
}

.encabezado__reserva1 {
    background-color: #d29d61 ;
    border: 3px solid rgb(122, 106, 83) ;
    padding: 4rem;
    margin-top: 6rem;
}
.encabezado__reserva2 {
    background-color: #d29d61 ;
    border: 3px solid rgb(122, 106, 83) ;
    padding: 4rem;
    margin-top: 6rem;
}
.encabezado__reserva3 {
    background-color: #d29d61 ;
    border: 3px solid rgb(122, 106, 83) ;
    padding: 4rem;
    margin-top: 6rem;
}


/* ------------------------------------------ INICIO DE MEDIA QUERY ------------------------------------- */
@media screen and (max-width: 1023px) {
    header {
        display: flex;
        flex-direction: column;
        max-width: 768px;
    }
    .logo {
        margin-left: 18rem;
    }
    .paginas {
        display: flex;
        justify-content: space-around;
    }
    .final__div {
        display: flex;
        justify-content: center;
        margin-left: 0rem;  
    }


    /* ------------------------------------------- INDEX ---------------------------------------------- */
    .presentacion {
        position: relative;
        bottom: 15rem;
        
    }
    .presentacion__titulo { 
       font-size: 50px;
    }
    .presentacion__subtitulo {
        font-size: 30px;
    }
    .presentacion__parrafo {
        font-size: 20px;
    }


    /* ------------------------------------------- INDEX ---------------------------------------------- */



    /* ------------------------------------------- SERVICIOS ---------------------------------------------- */
    
    .section__servicios {
        top: 8rem;
    }
    .section__servicios--titulo {
        font-size: 50px;
    }


    /* ------------------------------------------- SERVICIOS ---------------------------------------------- */



    /* ------------------------------------------- PRODUCTOS ---------------------------------------------- */

    .section__productos {
        top: 8rem;
    }
    .section__productos--titulo {
        font-size: 60px;
    }
    .section__productos p {
        font-size: 15px;
    }
    .victory {
        margin-top: 8rem;
    }
    .cabello {
        bottom: 3rem;
        right: 32rem;
        font-size: 150px;
    }
    .producto__titulo {
        font-size: 80px;
        padding-top: 4rem;
        margin-bottom: 1rem;
    }
    .producto__parrafo {
        font-size: 15px;
    }
    .producto__titulo--2 {
        font-size: 80px;
        margin-bottom: 1rem;
    }
    .producto__parrafo--2 {
        font-size: 15px;
    }
    .ofertas {
        left: 6rem;
        font-size: 120px;
    }
    .producto__oferta2 {
        bottom: 33rem;
        left: 2rem ;
    }
    .producto__oferta3 {
        bottom: 37.5rem;
        left: 25rem;
    }
    .producto__oferta {
        bottom: 2rem;
        left: 13rem;
    }
    .producto__div {
        width: 140px;
        left: 33rem;
        bottom: 35rem;
    }
    .producto__div p{
        font-size: 15px;
    }
    .texas {
        right: 2rem;
        bottom: 15rem;
        height: 10%;
    }
    .producto__div--2 {
        width: 140px;
        bottom: 28rem;
        left: 5rem;
    }
    .producto__div--2 p {
        font-size: 15px;
    }
    .whatsapp2 {
        right: 25rem;
        bottom: 1.55rem;
    }

    /* ------------------------------------------- PRODUCTOS ---------------------------------------------- */
 


    /* ------------------------------------------- UBICACION ---------------------------------------------- */

    .section__ubicacion {
        top: 8rem;
    }
    .section__ubicacion--titulo {
        font-size: 50px;
    }


/* ------------------------------------------- UBICACION ---------------------------------------------- */


 /* ------------------------------------------- RESERVA ---------------------------------------------- */

    .section__reserva{
        top: 8rem;
    }
    .section__reserva--titulo {
        font-size: 40px;
    }


    /* ------------------------------------------- RESERVA ---------------------------------------------- */
}
@media screen and (max-width: 600px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .header {
       max-width: 320px;
    }
    header .logo {
        position: relative;
        right: 14rem;
    }
    .paginas__index {
        display: none;
    }
    .paginas__servicios {
        width: 60px;
        height: 40px;
        font-size: 10px; 
    }
    .paginas__productos {
        width: 60px;
        height: 40px;
        font-size: 10px;  
    }
    .paginas__ubicacion {
        width: 60px;
        height: 40px;
        font-size: 10px;  
    }
    .paginas__reserva {
        width: 100px;
        height: 50px;
        font-size: 10px;     
    }
    video {
        position: relative;
        top: 13rem;
    }
    .presentacion {
        position: relative;
        bottom: 3rem;
        background-color: rgba(0, 0, 0, 0);
        margin-top: 0.5rem;
    }
    .presentacion__titulo {
        font-size: 30px;
    }
    .presentacion__subtitulo {
        font-size: 15px;
        margin-bottom: 13rem;
    }
    .presentacion__parrafo {
        font-size: 15px;
    }
    .final {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .final__index {
        position: relative;
        right: 13rem;
    }
    .final__div{
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        padding-top: 0.5rem;
        margin-left: 0;
    }
    .whatsapp {
        padding: 0;
        position: relative;
        top: 4.3rem;
        left: 0.5rem;
    }
    .final__derechos {
        text-align: end;
    }
    .ofertas {
        font-size: 65px;
        left: 0rem;
        top: 10rem;
    }
    .cabello {
        top: 0.5rem;
        right: 10.5rem;
        font-size: 80px;
    }
    .section__productos--titulo {
        font-size: 50px;
    }
    section p {
        font-size: 15px;
    }
    .producto__titulo {
        font-size: 50px;
    }
    .producto__parrafo {
        font-size: 13px;
    }
    .producto__titulo--2 {
        font-size: 50px;
    }
    .producto__parrafo--2 {
        font-size: 15px;
    }
    .producto__div--2 {
        font-size: 20px;
    }
    .producto__oferta2 {
        font-size: 30px;
        left: 0;
        bottom: 23rem;
    }
    .producto__oferta3 {
        font-size: 30px;
        left: 8rem;
        bottom: 25rem;
    }
    .producto__oferta {
      font-size: 30px;
      left: 3.5rem;
      bottom: 6rem;  
    }
    .producto__div {
        width: 200px;
        height: 100px;
        left: 0.5rem;
        bottom: 9rem;
    }
    .producto__div p {
        font-size: 13px;
    }
    .producto__div--2{ 
        width: 200px;
        height: 100px;
        left: 3.5rem;
        bottom: 12rem;
    }
    .producto__div--2 p {
        font-size: 13px;
    }
    .whatsapp2 {
        padding: 0;
        position: relative;
        top: 147.5rem;
        left: 1rem;
    }
    .texas {
        right: 1rem;
        bottom: 15rem;
        height: 5%;
    }
    .whatsapp1 {
        left: 0;
        bottom: 27.5rem;
    }
    .section__servicios{
        top: 8rem;
    }
    .section__servicios p {
        font-size: 15px;
    }
    .section__servicios--titulo {
        font-size: 50px;
    }
    .section__ubicacion {
        top: 8rem;
    }
    .section__ubicacion--titulo {
        font-size: 50px;
    }
    .whatsapp3 {
        left: 0;
        bottom: 27.5rem;
    }
    .section__reserva {
        top: 8rem;
    }
    .section__reserva--titulo {
        font-size: 25px;
    }
    .whatsapp4 {
        left: 0;
        bottom: 27.5rem; 
    }
}