.final__div{
    display: flex;
    justify-content: flex-start;
    margin-left: 4rem;
    margin-top: 1rem;
    margin-top: 0.5rem;
    }
    .final {
        background-color: #0f161b;
        padding: 1rem;
        margin-top: auto;
    }
    .final__logo {
        background-color: #d29d61;
        border: 5px solid rgb(122, 106, 83);
        border-radius: 10px;
        height: 50px;
        margin-left: 80px;
        align-items: center;
    }
    
    .final__derechos {
        color: white;
        text-align: end;
    }   