@font-face {
    font-family: Mystery Quest;
    src: url(Generica.otf);
}
@font-face {
    font-family: Austein;
    src: url(Austein.otf);
}
@font-face {
    font-family: Buttershine;
    src: url(BUTTERSHINE\SCRIPT.ttf);
}
@font-face {
    font-family: Caviar;
    src: url(CaviarDreams.ttf);
}