@font-face {
    font-family: Mystery Quest;
    src: url(css/Generica.otf);
}
@font-face {
    font-family: Austein;
    src: url(css/Austein.otf);
}
@font-face {
    font-family: Buttershine;
    src: url(css/BUTTERSHINE\SCRIPT.ttf);
}
@font-face {
    font-family: Caviar;
    src: url(css/CaviarDreams.ttf);
}