
 /* ---------------NUEVAS CLASES-------------------------------------*/
.productos {
    margin-top: 9rem;
}
.card {
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    transition: transform .3s;
}

.card:hover{
    transform: translateY(-15px);
    transition: transform .3s;
}

.text1{
    font-size: 20px;
    color: #cbcbcb;
}

.info {
    line-height: 17px;
    font-weight: 500;
}
.jam-star-f {
    color: #fbc02d;
}

.precio {
    font-weight: bold;
    font-size: 20px;
}

.claymore {
    background: #d29d61;
    cursor: pointer;
}
.pomade {
    background: #d29d61;
    cursor: pointer;
}
.superdry {
    background: #d29d61;
    cursor: pointer;
}
.combo {
    background: #d29d61;
    cursor: pointer;
}
.beard-oil {
    background: #d29d61;
    cursor: pointer;
}
.texas-beard {
    background: #d29d61;
    cursor: pointer;
}
.shampoo {
    background: #d29d61;
    cursor: pointer;
}
.cream {
    background: #d29d61;
    cursor: pointer;
}
.brush {
    background: #d29d61;
    cursor: pointer;
}