.whatsapp1{
    display: inline-block;
    position: fixed;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    bottom: 4rem;
    right: 2rem;
    z-index: 10;
}
.section__servicios {
    color: white;
    background-color: rgba(35, 38, 41, 0.7);
    text-align: center;
    position: relative;
    margin-top: 7rem;
}
.section__servicios--titulo {
    font-size: 100px;
    font-style: italic;
}
.videoservicios {
    width: 60%;
    margin-left: auto;
    margin-right: 2rem;
}

.section__servicios--titulo {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  